
<div class="aside-toggle btn-circle">
  <a href=""><span></span><em>About Me</em></a>
</div>


<div id="fh5co-aside">

  <% if @post != nil%>
  <div class="image-bg" style="background: url(<%= @post.image%>)"></div>
  <% else %>
  <div class="image-bg"></div>
  <%end%>
  <div class="overlay"></div>
  <div class="row">
    <div class="col-md-12">
      <div id="fh5co-aside-inner">
        <div class="row" id="fh5co-bio">
          <div class="col-md-12" style="margin-top: 20px;">
            <h2>Yoo Dahun <small>유다훈</small></h2>
          </div>
          <div class="col-md-9">
            <ul>
              <li>Live in Fukuoka, Japan</li>
              <hr>
              <li>X-Pro1</li>
                <ul>
                  <li> XF 18mm f2 </li>
                  <li> XF 56mm f1.2 </li>
                </ul>
              <hr>
                <li> Korea, Japan </li>
                <li> Snap, Landscape, Portrait </li>
            </ul>
          </div>
          <div class="col-md-3">

          </div>

          <div class="col-md-12 fh5co-social" style="text-align: center;">
            <hr>
            <a href="https://www.instagram.com/dahunyoo/" target="_blank"><i class="icon-instagram"> Instagram   </i></a>     |
            <a href="http://tty4032.blog.me" target="_blank"><i class="icon-external-link-square">    NaverBlog</i></a>
          </div>
          <div class="col-md-12" style="margin-top: 20px;">
            <p>Thanks to LikeLion</p>
            <div>&copy; Photo by Dahun, All Rights Reserved</p></div>
            <div>&copy; 2016 Free HTML5 Template. All Rights Reserved. Designed by <a href="http://gettemplates.co/">GetTemplates</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
