<%= render 'sideBar' %>

	<div class="container-fluid" id="fh5co-image-grid">
		<div class="grid">
		  <div class="grid-sizer">


	 		<%= render 'indexTagged'%>

			</div>
		</div>
		<!-- End of grid -->
	</div>
	<!-- End of Container Fluid -->
